.nosotros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('/assets/fondonos.png'); 
    background-size: cover;
    background-position: center;
    padding: 60px 5%;
    position: relative;
    z-index: 1;
    .nosotros-contenido {
        max-width: 80%;
        position: relative;
        z-index: 2;

        h1 {
            font-family: 'Univa Nova', serif;
            font-size: clamp(30px, 5vw, 50px);
            font-weight: bold;
            text-transform: uppercase;
            color: #F8F1E4; // Color crema claro
            margin-bottom: 20px;
            border-bottom: 10px solid #D2691E;
            display: inline-block;
            padding-bottom: 5px;
        }

        blockquote {
            background: rgba(0, 0, 0, 0.387); 
            padding: 30px;
            border-left: 5px solid #ff8c00e4; 
            border-radius: 5px;
            font-size: 16px;
            line-height: 1.6;
            font-style: italic;
            position: relative;

            .cita-icon {
                font-size: 50px;
                color: #FF8C00; // Ícono de cita en naranja
                position: absolute;
                top: -10px;
                left: 15px;
            }

            .resaltado {
                font-weight: bold;
                color: #FF8C00; 
            }

            .autor {
                font-size: 16px;
                font-weight: 500;
                margin-top: 10px;
                text-align: right;
                color: #ff5900; // Amarillo dorado
            }
        }
    }

.nosotros-frase {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.254);
    padding: 15px 20px;
    border-radius: 8px;
    width: fit-content;

    .icono-taza {
        width: 10rem; // Tamaño de la taza
        height: auto;
    }

    p {
        font-size: clamp(18px, 4vw, 29px);
        font-family: 'Amiko';
        font-weight: bold;
        color: #D1D0BC; // Color crema claro
        line-height: 1.4;
        text-align: left;
    }
}


.nosotros-contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
}
.imagenequipo {
    width: 100%;
    height: 70vh;
    background-image: url('/assets/imagendequipo.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.unete-al-team {
    background-color: #0d3d28; // Verde oscuro}
    padding: 20px;
    align-items: center;
    background-image: url('/assets/fondounite.png'); // Imagen de fondo con texto repetido
    background-size: cover;
    background-position: center;
    position: relative;

    .contenedor {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
    }
    .equipo-info {
        flex: 1;
        text-align: left;
        justify-items: left;
        width: 80%;
        .titulo {
            background: #e5d1b8cc;
            padding: 8px 15px;
            border-radius: 8px;
            display: inline-block;
            font-weight: bold;
            text-transform: uppercase;
            color: $secundario;
            h2{
                font-size: clamp(2.5rem, 2.4vw, 3rem);
            }
        }   

        .descripcion {
            color: $secundario;
            margin: 15px 0;
            background: #e5d1b8cc;
            border-radius: 10px;
            font-size: clamp(1.4rem, 1.8vw, 1.6rem);
            padding: 8px;
            max-width: 25rem;
        }

        .imagen-equipo {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            background-color: #e5d1b8cc;
            padding: 15px; 
            max-width: 90%;
            img {
                width:100%;
                height: auto;
                border-radius: 5px;
            }
        }

        .emails {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            .email {
                border-radius: 24px;
                border: 4px solid #BDBB90;
                color: #9D9C72;
                border-radius: 10px;
                font-weight: bold;
                text-align: center;
                font-family: Amiko;
                text-decoration: none;
                display: inline-block;
                transition: background 0.3s ease;
                text-align: center;
                padding: 0.8rem 3.5rem; 
                font-size: clamp(14px, 1vw, 20px); 
                &:hover {
                    background: #388E3C;
                }
            }
        }
    }

    .requisitos {
        flex: 1;
        background: #e5d1b8cc;
        border-radius: 15px;
        padding: 20px;
        height: auto;
        h3 {
            font-size: clamp(2rem, 4vw, 2.5rem);
            font-weight: bold;
            color: #10403A;
            text-transform: uppercase;
            text-align: left;
            margin-bottom: 15px;
        }

        .categorias {
            list-style-type: none;
            padding: 0;
            text-align: left;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .requisitos-lista {
            margin-top: 15px;
            padding: 8px;
            border-top: 2px solid black;

            p {
                display: flex;
                align-items: left;
                color: #393939;
                font-family: Amiko;
                margin: 5px 0;
                padding-bottom: 5px;
                font-size: 1rem; // Reduzco tamaño de texto
                padding-bottom: 4px solid rgba(0, 0, 0, 0.2);;

                .icono {
                    background: url('/assets/cajarequisitto.png') no-repeat center;
                    background-size: contain;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        text-align: left;
        gap: 20px;
    }
    .equipo-info {
        width: 100%;
    }
    .imagen-equipo {
        max-width: 80%;
    }

    .requisitos {
        width: 100%;
    }
}
