// Paleta de colores
$primario: #9B9844;
$secundario: #10403A;
$background-color: #fdffcf;
$text-color: #D1D0BC;
$white: #ffffff;

$fuentemain: 'Amiko', sans-serif;
$fuentealt: 'Univa Nova', sans-serif;

